<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item">Users</li>
    <li class="breadcrumb-item"><a href="/users/{{username}}">{{username}}</a></li>
    <li class="breadcrumb-item active">Update Challenge</li>
</ol>

<form action="/users/update">

</form>