<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="/challenges">Challenges</a></li>
    <li class="breadcrumb-item active">{{challenge.name}}</li>
</ol>