<div class="jumbotron">
    <h1>Welcome {{name}} to the food Challenge!</h1>
    <p class="lead">Welcome {{name}} to the food Challenge!</p>
    <a class="btn btn-lg btn-primary" href="../../components/navbar/" role="button">View navbar docs &raquo;</a>



</div>